<div class="card">
  <div class="card-header card-header-primary">
    <h3 class="card-title">Parameters Initialization</h3>
    <p class="card-category">Select a file and parameters</p>
  </div>

  <div class="card-body">
    <div class="container-fluid">
      <app-ct-selection></app-ct-selection>
      <div class="row">
        <div class="col-md-4">
          <app-single-locus-scan></app-single-locus-scan>
        </div>
        <div class="col-md-4">
          <app-marker-selection></app-marker-selection>
        </div>
        <div class="col-md-4">
          <app-pair-scan></app-pair-scan>
        </div>
      </div>
      
      <div class="row">
        <button mat-raised-button type="submit" class="btn btn-info pull-right"
          matTooltip="Saves the parameters file associated with the parameters set up on this page"
          (click)='saveParametersFile()' [disabled]="isDisabled()">
          <mat-icon matSuffix>create</mat-icon>
          Save Parameter File
        </button>
        <button mat-raised-button type="submit" class="btn btn-info pull-right"
          matTooltip="Download the parameters as a yaml file"
          (click)='downloadParametersFile()' [disabled]="this.parameters.title == undefined">
          <mat-icon matSuffix>save_alt</mat-icon>
          Download as YAML
        </button>
      </div>

    </div>
  </div>