<div class="card">
  <div class="card-header card-header-primary">
    <h3 class="card-title">Parameters Initialization</h3>
    <p class="card-category">Select a file and parameters</p>
  </div>

  <div class="card-body">
    <div class="row">
      <app-ct-selection>loading</app-ct-selection>

      <mat-card>
        <mat-tab-group>
          <mat-tab label="Single Locus Scan">
            <app-single-locus-scan matTooltip="Parameters for the single-locus scan">loading</app-single-locus-scan>
          </mat-tab>
          <mat-tab label="Marker Selection">
            <app-marker-selection matTooltip="Parameters for selecting markers for the pairwise scan">loading</app-marker-selection>
          </mat-tab>
          <mat-tab label="Pair Scan">
            <app-pair-scan matTooltip="Parameters for running the pairwise scan">loading</app-pair-scan>
          </mat-tab>
        </mat-tab-group>
      </mat-card>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between end">
      <button mat-raised-button type="submit" class="btn btn-info pull-right"
        matTooltip="Saves the parameters file associated with the parameters set up on this page"
        (click)='saveParametersFile()'>
        <mat-icon matSuffix>create</mat-icon>
        Save Parameter File
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>