<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>{{ title }}</mat-expansion-panel-header>
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="row">

      <mat-radio-group aria-label="Select an option to view the phenotype list" [(ngModel)]="viewAsTree"
        [value]="viewAsTree">
        <mat-radio-button [value]="true" matTooltip="View as tree" (click)="toggleViewAs(true)">Tree</mat-radio-button>
        <mat-radio-button [value]="false" matTooltip="View as list" (click)="toggleViewAs(false)">List</mat-radio-button>
      </mat-radio-group>

      <mat-button-toggle-group name="expandCollapse" aria-label="Expand Collapse" value="collapse">
        <mat-button-toggle mat-icon-button color="primary" aria-label="Expand" matTooltip="Expand all"
          (click)="tree.treeControl.expandAll()" value="expand">
          <mat-icon matSuffix>unfold_more</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle mat-icon-button color="primary" aria-label="Collapse" matTooltip="Collapse all"
          (click)="tree.treeControl.collapseAll()" value="collapse">
          <mat-icon matSuffix>unfold_less</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

    </div>
    <div class="row">
      <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
            (change)="nodeSelectionToggle(node)" [disabled]="disabled">
            {{node.name}}
          </mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChildren" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
            (change)="nodeSelectionToggle(node)" [disabled]="disabled">
            {{node.name}}
          </mat-checkbox>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
  <mat-action-row>
    <button mat-icon-button color="primary" matTooltip="More info..." (click)="openDetailsDialog()">
      <mat-icon>more</mat-icon>
    </button>
  </mat-action-row>
</mat-expansion-panel>