<div class="row">
  <div class="col-md-4">
    <app-main-selection></app-main-selection>

    <app-tree [title]="getTraitTitle()" [description]="getTraitDescription()"
      matTooltip="Select variables to be analyzed in CAPE">loading</app-tree>
    <br>
    <app-tree [title]="getCovariateTitle()" [description]="getCovariateDescription()"
      matTooltip="Select variables to be used as covariates. can be factors or quantitative">loading</app-tree>

    <br>
    <p>There are {{ numberOfIndividuals }} individuals with the selected traits measured.</p>

    <div class="row"
      matTooltip="Select whether to normalize (rank Z normalize) and/or mean center the traits. Both are suggested, particularly if analyzing eigentraits">
      <div class="col-md-6">
        <p>Adjust Phenotypes:</p>

      </div>
      <div class="col-md-6">
        <mat-checkbox [(ngModel)]="normalize" (click)="setNormalize()">Normalize</mat-checkbox>
        &nbsp;
        <mat-checkbox [(ngModel)]="meanCenter" (click)="setMeanCenter()">Mean Center</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Traits to scan</mat-label>
          <mat-select placeholder="Trait selected" [(ngModel)]="traitSelected" (selectionChange)="setTraitsToScan()"
            matTooltip="Select whether to analyze eigentraits (composite traits) or individual traits">
            <mat-option *ngFor="let traitSelected of traitsToScan" [value]="traitSelected">
              {{ traitSelected }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <div *ngIf="traitSelected=='eigentraits'">
          <mat-form-field appearance="outline">
            <mat-label>Nb. of ET</mat-label>
            <input matInput [(ngModel)]="numberOfEigentraits" (change)="setNumberofET()" type="number" placeholder="2"
              min="2">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>P value correction</mat-label>
          <mat-select placeholder="P value correction" [(ngModel)]="pValueCorrection"
            (selectionChange)="setPValueCorrection()" matTooltip="One of 'holm', 'hochberg', 'hommel', 'bonferroni', 'BH', 'BY', 'fdr', 'none', 
            indicating whether the p value correction method used should be the Holm step-down procedure, 
            false discovery rate or local false discovery rate respectively.">
            <mat-option *ngFor="let pValueCorrection of pValueCorrectionList" [value]="pValueCorrection">
              {{ pValueCorrection }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Population type</mat-label>
          <mat-select placeholder="Population type" [(ngModel)]="popType" (selectionChange)="setPopType()"
            matTooltip="Population type: 'MPP' (multi-parental population), '2PP' (2 parents), 'RIL' (recombinant inbred line)">
            <mat-option *ngFor="let popType of popTypeList" [value]="popType">
              {{ popType }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-checkbox [(ngModel)]="transformToPhenospace" (click)="setTransformToPhenospace()" matTooltip="A logical value. If TRUE, the influence of each marker on 
        each eigentrait is transformed to the influence of each marker on each of the original 
        phenotypes. If FALSE, no transformation is made. If the pair scan was done on eigentraits, 
        the influence of each marker on each eigentrait is calculated. If the pair scan was done 
        on raw phenotypes, the influence of each marker on each phenotype is calculated. The 
        default behavior is to transform variant influences on eigentraits to variant influences 
        on phenotypes.">Transform to Phenospace</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <app-plot></app-plot>
  </div>
</div>