<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <mat-tab-group [selectedIndex]="selectedTab" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
              <mat-tab label="CAPE2">
                <br>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <p>
                      Here we present an R package for the Combined Analysis of Epistasis and Pleiotropy, or cape.
                      This package implements a method, originally described in Carter et al. (2012), that infers
                      directed interaction networks between genetic variants for predicting the influence of genetic
                      perturbations on phenotypes. This method takes advantage of complementary information in
                      partially pleiotropic genetic variants to resolve directional influences between variants
                      that interact epistatically. cape can be applied to a variety of genetic variants, such as
                      single nucleotide polymorphisms (SNPs), copy number variations (CNVs) or structural variations (SVs).
                      Here we demonstrate the functionality of cape by inferring a predictive network between quantitative
                      trait loci (QTL) in a cross between the non-obese, non-diabetic (NON) mouse and the New Zealand
                      obese (NZO) mouse (Reifsnyder (2000)).
                    </p>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Team">
                <br>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <ul>
                      <li>
                        <h3>
                          <a href="https://www.jax.org/research-and-faculty/faculty/research-scientists/anna-tyler"
                            target="_blank">Anna Tyler, Ph.D.</a>
                        </h3>
                        <span>{{ 'Research Scientist, Program PI' | uppercase }}</span>
                      </li>
                      <li>
                        <h3>
                          <a href="https://www.jax.org/research-and-faculty/faculty/greg-carter"
                            target="_blank">Gregory Carter, Ph.D.</a>
                        </h3>
                        <span>{{ 'Associate Professor, Program PI' | uppercase }}</span>
                      </li>
                      <li>
                        <h3>
                          <a href="https://www.jax.org/people/ann-wells" target="_blank">Ann Wells, Ph.D.</a>
                        </h3>
                        <span>{{ 'Postdoctoral Associate' | uppercase}}</span>
                      </li>
                      <li>
                        <h3>
                          <a href="https://www.jax.org/people/vivek-philip" target="_blank">Vivek Philip, Ph.D.</a>
                        </h3>
                        <span>{{ 'Associate Director, Computational Sciences' | uppercase }}</span>
                      </li>
                      <li>
                        <h3>
                          <a href="https://www.jax.org/people/jake-emerson" target="_blank">Jake Emerson, M.S.</a>
                        </h3>
                        <span>{{ 'Principal Scientific Software Engineer' | uppercase }}</span>
                      </li>
                      <li>
                        <h3>
                          <a href="https://www.jax.org/people/baha-el-kassaby" target="_blank">Baha El Kassaby, M.S.</a>
                        </h3>
                        <span>{{ 'Senior Scientific Software Engineer' | uppercase }}</span>
                      </li>
                      <li>
                        <h3>
                          <a href="https://www.jax.org/people/georgi-kolishovski" target="_blank">Georgi Kolishovski, M.S.</a>
                        </h3>
                        <span>{{ 'Scientific Software Engineer' | uppercase }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Publications">
                <br>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <ul>
                      <li>
                        <h4>
                          <a href="https://doi.org/10.1093/g3journal/jkab131" target="_blank">
                            Effects of kinship correction on inflation of genetic interaction statistics in commonly used mouse populations.
                          </a>
                        </h4>
                        <p>
                          Tyler AL, El Kassaby B, Kolishovski G, Emerson J, Wells AE, Matthew Mahoney J, Carter GW.
                          <br>
                          G3 (Bethesda). 2021 Apr 23. pii: jkab131. doi: 10.1093/g3journal/jkab131. [Epub ahead of print] PubMed [citation] PMID: 33892506
                        </p>
                      </li>
                      <br>
                      <li>
                        <h4>
                          <a href="http://dx.doi.org/10.1007/978-1-0716-0947-7_5" target="_blank">
                            The Combined Analysis of Pleiotropy and Epistasis (CAPE).
                          </a>
                        </h4>
                        <p>
                          Tyler AL, Emerson J, El Kassaby B, Wells AE, Philip VM, Carter GW.
                          <br>
                          Methods Mol Biol. 2021;2212:55-67. doi: 10.1007/978-1-0716-0947-7_5. PubMed [citation] PMID: 33733350
                        </p>
                      </li>
                      <br>
                      <li>
                        <h4>
                          <a href="https://www.g3journal.org/content/10/1/151" target="_blank">
                            Genetic Interactions Affect Lung Function in Patients with Systemic Sclerosis.
                          </a>
                        </h4>
                        <p>
                          Tyler A, Mahoney JM, Carter GW.
                          <br>
                          G3 (Bethesda). 2020 Jan 7;10(1):151-163. doi: 10.1534/g3.119.400775. PubMed [citation] PMID: 31694854, PMCID: PMC6945038
                        </p>
                      </li>
                      <br>
                      <li>
                        <h4>
                          <a href="https://www.genetics.org/content/206/2/621" target="_blank">
                            Epistatic Networks Jointly Influence Phenotypes Related to Metabolic Disease and Gene Expression in Diversity Outbred Mice.
                          </a>
                        </h4>
                        <p>
                          Tyler AL, Ji B, Gatti DM, Munger SC, Churchill GA, Svenson KL, Carter GW.
                          <br>
                          Genetics. 2017 Jun;206(2):621-639. doi: 10.1534/genetics.116.198051. PubMed [citation] PMID: 28592500, PMCID: PMC5499176
                        </p>
                      </li>
                      <br>
                      <li>
                        <h4>
                          <a href=" https://doi.org/10.1371/journal.pgen.1005805" target="_blank">
                            Weak Epistasis Generally Stabilizes Phenotypes in a Mouse Intercross.
                          </a>
                        </h4>
                        <p>
                          Tyler AL, Donahue LR, Churchill GA, Carter GW.
                          <br>
                          PLoS Genet. 2016 Feb 1;12(2):e1005805. doi: 10.1371/journal.pgen.1005805. eCollection 2016 Feb. PubMed [citation] PMID: 26828925, PMCID: PMC4734753
                        </p>
                      </li>
                      <br>
                      <li>
                        <h4>
                          <a href="https://doi.org/10.1111/gbb.12178" target="_blank">
                            A genetic interaction network model of a complex neurological disease.
                          </a>
                        </h4>
                        <p>
                          Tyler AL, McGarr TC, Beyer BJ, Frankel WN, Carter GW.
                          <br>
                          Genes Brain Behav. 2014 Nov;13(8):831-40. doi: 10.1111/gbb.12178. Epub 2014 Oct 27. PubMed [citation] PMID: 25251056, PMCID: PMC4241132
                        </p>
                      </li>
                      <br>
                      <li>
                        <h4>
                          <a href="https://doi.org/10.1142/9789814583220_0021" target="_blank">
                            Dissection of complex gene expression using the combined analysis of pleiotropy and epistasis.
                          </a>
                        </h4>
                        <p>
                          Philip VM, Tyler AL, Carter GW.
                          <br>
                          Pac Symp Biocomput. 2014:200-11. PubMed [citation] PMID: 24297548, PMCID: PMC3900022
                        </p>
                      </li>
                      <br>
                      <li>
                        <h4>
                          <a href="https://doi.org/10.1371/journal.pcbi.1003270" target="_blank">
                            CAPE: an R package for combined analysis of pleiotropy and epistasis.
                          </a>
                        </h4>
                        <p>
                          Tyler AL, Lu W, Hendrick JJ, Philip VM, Carter GW.
                          <br>
                          PLoS Comput Biol. 2013 Oct;9(10):e1003270. doi: 10.1371/journal.pcbi.1003270. Epub 2013 Oct 24. PubMed [citation] PMID: 24204223, PMCID: PMC3808451
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Contact Us">
                <br>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <p>
                      For program or data related questions, please contact Anna Tyler, Ph.D. <a href="mailto:anna.tyler@jax.org">anna.tyler@jax.org</a>
                      <br>
                      For Web Application related questions, please contact Baha El Kassaby, M.S. <a href="mailto:baha.elkassaby@jax.org">baha.elkassaby@jax.org</a>
                    </p>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="License">
                <br>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
                    <p>CAPE2 is licensed under <a href="https://www.r-project.org/Licenses/GPL-3" target="_blank">GPL-3</a></p>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<br>
</div>
