<div class="card">
  <div class="card-header">Single Locus Scan</div>
  <div class="card-body">
    <label>Single Locus Scan Parameters</label>
    <mat-form-field appearance="outline">
      <mat-label>Reference Allele</mat-label>
      <input matInput [(ngModel)]="referenceAllele" (change)="setReferenceAllele()" placeholder="A">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Number of Permutations</mat-label>
      <input matInput [(ngModel)]="numberOfPermutations" (change)="setNumberOfPermutations()" type="number"
        placeholder="1" min="0">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="useKinship" (click)="setUseKinship()">Use Kinship Correction</mat-checkbox>

    <label>Significance level:</label>
    <mat-form-field class="example-chip-list" appearance="outline" matTooltip="The significance level for calculating effect size thresholds in the 
    Singlescan. If number of permutations is 0, this parameter is ignored.">
      <mat-chip-list #chipList aria-label="Alpha selection">
        <mat-chip *ngFor="let alpha of alphaValues" [selectable]="selectable" [removable]="removable"
          (removed)="removeAlpha(alpha)">
          {{alpha.alpha}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New alpha..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addAlpha($event)">
      </mat-chip-list>
    </mat-form-field>

    <!-- <div *ngIf="useKinship">
      <mat-form-field appearance="outline">
        <mat-label>Kinship Type</mat-label>
        <mat-select placeholder="Kinship Type" [(ngModel)]="kinshipType" (selectionChange)="setKinshipType()">
          <mat-option *ngFor="let kinshipType of kinshipTypes" [value]="kinshipType">
            {{ kinshipType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  </div>
</div>