<div class="row" layout-align="space-around none">

  <div class="column margin" layout-align="space-around none">
    <mat-form-field appearance="outline">
      <mat-label>Title input</mat-label>
      <input matInput placeholder="Title" (change)="setTitle()" [formControl]="titleFormControl">
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select plot</mat-label>
      <mat-select placeholder="Select plot" (selectionChange)="setSelectPlot()" [(value)]="plotType">
        <mat-option *ngFor="let plotType of plotTypes" [value]="plotType">
          {{ plotType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="column margin" layout-align="space-around none">
    <mat-form-field appearance="outline">
      <mat-label>Select file</mat-label>
      <mat-select placeholder="Select file" (selectionChange)="setDataFileSelected(fileSelected)"
        [(value)]="fileSelected">
        <mat-option *ngFor="let fileSelected of files" [value]="fileSelected">
          {{ fileSelected.filename }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Color by</mat-label>
      <mat-select placeholder="Color by" (selectionChange)="setColorBy()" [(value)]="colorBy">
        <mat-option *ngFor="let selection of phenotypes" [value]="selection.name">{{ selection.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>