<div class="card">
  <div class="card-header card-header-primary">
    <h3 class="card-title">Jobs</h3>
    <p class="card-category">List of Jobs and their status</p>
  </div>

  <div class="card-body">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="date_created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
          <td mat-cell *matCellDef="let element">{{element.date_created}}</td>
        </ng-container>
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell *matCellDef="let element">{{element.owner}}</td>
        </ng-container>
        <ng-container matColumnDef="parameter_setup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter Setup</th>
          <td mat-cell *matCellDef="let element">{{element.parameter_setup}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button type="submit" class="btn-just-icon btn-info pull-right" matTooltip="Delete this job"
              (click)="deleteJob(element)">
              <mat-icon matSuffix>delete</mat-icon>
            </button>
            <button mat-icon-button type="submit" class="btn-just-icon btn-info pull-right" matTooltip="Cancel this job"
              (click)="cancelJob(element)">
              <mat-icon matSuffix>stop</mat-icon>
            </button>
            <button mat-icon-button type="submit" class="btn-just-icon btn-info pull-right" matTooltip="Run this job"
              (click)="runJob(element)">
              <mat-icon matSuffix>play_arrow</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"></tr>
      </table>
      <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="25"
        [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
</div>