﻿<mat-card class="login-card">

  <mat-card-header>
    <mat-card-title>CAPE Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form id="loginForm">
      <mat-form-field appearance="outline" matTooltip="Username">
        <input name="username" matInput placeholder="Username" [(ngModel)]="username" (keyup)="onKey($event)" required>
      </mat-form-field>
      <mat-form-field appearance="outline" matTooltip="Password">
        <input name="password" matInput placeholder="Enter your password" [(ngModel)]="password"
          [type]="hide ? 'password' : 'text'" (keyup)="onKey($event)" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center" class="spinner" *ngIf="loading">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
      <div class="login-alert" *ngIf="alert.length">{{alert}}</div>
      <div class="login-error" *ngIf="error.length">
        {{error}}
      </div>

    </form>
    <mat-card-actions class="center">
      <button class="login-button" [disabled]="loading" mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
    <p>You don't have an account?
        <a routerLink="/register" class="btn btn-link">Register</a>
    </p>
  </mat-card-content>
</mat-card>