<div id="all-wrap">
  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span id="cape-title" [routerLink]="['/']">CAPE</span>
          <span class="example-fill-remaining-space"></span>
          <span class="example-spacer"></span>

          <button mat-button [matMenuTriggerFor]="menu">
            <i class="material-icons">menu</i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/groups']">Groups</button>
            <button mat-menu-item [routerLink]="['/login']">Logout</button>
          </mat-menu>

        </mat-toolbar-row>
      </mat-toolbar>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <mat-toolbar class="footer md-scroll-shrink">
        <div layout="row" layout-align="center center">
          <img src="../assets/myjax_logo1.png" style="display: block; margin-right: auto; margin-left: auto;">
        </div>
      </mat-toolbar>
    </footer>
  </div>
</div>
