.plot-content {
  overflow: auto;
  max-height: 700px;
  min-width: 700px;
}

.margin {
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mat-form-field {
  width: 300px;
}
