table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }

//  td.mat-cell:hover {
//    color: white;
//  }
  
  tr.element-row:not(.expanded-row):hover {
    color: white;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
    color: white;
  }
  tr.element-row:not(.expanded-row):hover {
    background: #efefef;
    color: white;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
    margin-left: 20px;
  }
  .parameter-table-tr:hover {
    background-color: #efefef;
  }
