<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h3>CAPE: Combined Analysis of Pleiotropy and Epistasis</h3>
            <p>This website offers a user interface to the R/Cape package. It enables users to trigger analysis that will use the R/CAPE software in the background, to save/share results from the analysis run amongst other things.</p>
            <p>Contemporary genetic studies are revealing the genetic complexity of many traits in humans and model organisms. Two hallmarks of this complexity are epistasis, meaning gene-gene interaction, and pleiotropy, in which one 
              gene affects multiple phenotypes. Understanding the genetic architecture of complex traits requires addressing these phenomena, but interpreting the biological significance of epistasis and pleiotropy is often difficult. 
              While epistasis reveals dependencies between genetic variants, it is often unclear how the activity of one variant is specifically modifying the other. Epistasis found in one phenotypic context may disappear in another context, 
              rendering the genetic interaction ambiguous. Pleiotropy can suggest either redundant phenotype measures or gene variants that affect multiple biological processes. an R package, R/cape, which addresses these interpretation 
              ambiguities by implementing a novel method to generate predictive and interpretable genetic networks that influence quantitative phenotypes. R/cape integrates information from multiple related phenotypes to constrain models 
              of epistasis, thereby enhancing the detection of interactions that simultaneously describe all phenotypes. The networks inferred by R/cape are readily interpretable in terms of directed influences that indicate suppressive 
              and enhancing effects of individual genetic variants on other variants, which in turn account for the variance in quantitative traits. We demonstrate the utility of R/cape by analyzing a mouse backcross, thereby discovering 
              novel epistatic interactions influencing phenotypes related to obesity and diabetes. R/cape is an easy-to-use, platform-independent R package and can be applied to data from both genetic screens and a variety of segregating 
              populations including backcrosses, intercrosses, and natural populations. The package is freely available under the GPL-3 license at <a href='https://github.com/TheJacksonLaboratory/cape'>https://github.com/TheJacksonLaboratory/cape</a>.</p>
            <button class="learn-more-button" mat-raised-button routerLink="/about">Learn More About R/CAPE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <br>
</div>
<div *ngIf="isGuest()" class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h4>You are logged in as a Guest user</h4>
            <p>If you do not have a Jax profile and would like to unlock all the application features, you can register on the Login Page in order to get an active Cape user profile.</p>
            <p>As Guest user, the unlocked features of the application are the following:</p>
            <ul>
              <li>Cape parameter set up UI</li>
              <li>Phenotype plotting</li>
              <li>Cape parameter YAML download</li>
              <li>Admin user example Jobs</li>
              <li>Admin user example Reports</li>
            </ul>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

