/*
 * Import required theme for Material2
 */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  margin: 0;
}

/*
 * Actual Sticky Footer Styles
 */
.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.content {
  flex: 1;
  max-width: 1200px;
  margin: auto;
}

.image-container {
  display: flex;
  justify-content: center;
}

#cape-title {
  cursor: pointer;
}


/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}
